/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  background-color: #101010;

  /*
  #000000
  #1A1A1A
  #1A344C
  #264E73
  #31689B
  */
}
